body{

background:#f4f7fc;

font-family:Arial,Helvetica,sans-serif;

}

.container{

width:700px;

margin:auto;

margin-top:40px;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

h1{

text-align:center;

color:#0d6efd;

}

h2{

color:#198754;

}

input{

width:100%;

padding:12px;

font-size:18px;

border-radius:5px;

border:1px solid gray;

}

button{

width:100%;

padding:12px;

margin-top:15px;

font-size:18px;

background:#0d6efd;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#084298;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table,th,td{

border:1px solid gray;

}

th{

background:#0d6efd;

color:white;

padding:10px;

}

td{

padding:10px;

text-align:center;

}